* {
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    text-transform: lowercase;
}

p::before,
p::after {
    content: '"';
}