* {
    padding: 0px;
    margin: 0px;
}

::selection {
    background: black;
    color: white;
}

a {
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: black;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

body {
    min-height: calc(100vh - 20px);
    min-width: calc(100% - 40px);
    background: linear-gradient(90deg, #22c1c3, #fdbb2d);
    background-repeat: no-repeat;
    padding: 10px 20px;
}

h1 {
    text-align: center;
}

main {
    gap: 20px;
}

.main-container {
    gap: 20px;
    flex-wrap: wrap;
    align-items: start !important;
    justify-content: space-around;
}

.left-side,
.right-side {
    width: 45%;
    min-width: 270px;
    max-width: 400px;
}