@media(max-width:1245px) {
    .hero-section .content span button {
        width: 200px;
    }
}

@media(max-width:1200px) {
    .navbar .left .button {
        display: none;
    }
}

@media (max-width:990px) {

    header .navbar2,
    .navbar .right ul li:nth-child(1),
    .navbar .right ul li:nth-child(2) {
        display: none;
    }

    header,
    .navbar {
        height: auto;
        padding: 10px 0px;
    }

    .hero-section {
        justify-content: center;
    }

    .hero-section .content {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:767px) {
    .navbar .right ul li:nth-child(3) {
        display: none;
    }

    .hero-section .content h1 {
        font-size: 18pt;
    }

    .hero-section .content h5 {
        font-size: 12pt;
    }

    .hero-section .content a {
        font-size: 12pt;
    }

    .hero-section .content span button {
        height: 30px;
        width: 180px;
        font-size: 12pt;
    }
}


@media (max-width:390px) {
    .hero-section .content span button {
        height: 30px;
        width: 100px;
        font-size: 8pt;
    }
}

@media (max-width:320px) {

    header,
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

}



/* for mobile menu  */


@media(max-width:990px) {
    .left .form2 {
        display: none;
    }

    .openbtn,
    .closebtn {
        display: block;
    }

    .main-header-mobile {
        display: flex;
        overflow: hidden;

    }

    .inner-header-mobile {
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background-color: rgba(211, 211, 211, 1);
        transition: 0.5s ease;
    }
}