* {
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    min-width: 100vw;
}

table {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
}

table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

table td {
    padding: 25px 25px;
    margin: 2px 0px;
    color: black;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}

table #display {
    width: 100%;
}